{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation_alpha}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header class="page-header">
</header>

<main id="page-container" role="main">

    <h1 class="form-title heading-medium">
      Contact details 

    </h1>
    <p> If you'd like a confirmation text of your details, tell us your mobile phone number here.

 <form id="form1" action="send_address3" method="get" class="form">
   
    <div class="form-group">
       <label class="form-title heading-medium" for="drivernum">
        
        Your mobile phone number </label>
        <span class="form-hint">
          For example, '07570123456'
           </span>
           <input type="text" maxlength="16" class="form-control" id="mobilenumber"  name="mobilenumber" autocomplete="off" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
          <br>
      
    </div>
    

     <p></p>
       

<div class="grid-row">
   <div class="column-full">
   <br>
     <button type="submit" id="sub" class="button" name = "sub" value="{{addressall1}},{{email}}" >
        Continue
    </button>
    
    </form>  
    
      <ul>
    
       
        <li><a href="javascript:history.go(-1);">Back</a></li>
      </ul>
    </div>
    </div>

    

    
</main>


{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
