{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

  <script type="text/javascript" src="/public/javascripts/application.js"></script>

  <script type="text/javascript" src="/public/javascripts/postcodes.min.js"></script>

  <script type="text/javascript" src="/public/javascripts/parsley.min.js"></script>
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation_alpha}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header class="page-header">

  <script>
  function dofirst() {
postcodetest= "{{postcode}}"
var postcodetest = postcodetest.toUpperCase();

if (postcodetest!=""){

form2.style.display="block";
postcodegroup.style.display = "none";
document.getElementById('postcode').value = postcodetest;

}
 
  }

  </script>



<script>
  function update_address() { 
    var postcodeV = document.getElementById('postcode').value;

    var addressall = document.getElementById('AddressDropdown').value;

    

    if (addressall == "My address is not here"){
        freekey.style.display = "block";
        form2.style.display = "none";
        

    } else{

     var addressalllist = addressall.split(",");
    // form3.style.display = "block";
    freekey.style.display = "none";
    showaddress.style.display = "block";
    


      document.getElementById("line1").innerHTML = addressalllist[0];
      document.getElementById("line2").innerHTML = addressalllist[1];
      document.getElementById("line3").innerHTML = addressalllist[2];
      document.getElementById("line4").innerHTML = addressalllist[3];
      document.getElementById("line5").innerHTML = addressalllist[4];

      if (addressalllist[2]==""){

        line3.style.display = "none";
      }
    }
    form2.style.display = "none";
    
    document.getElementById("newconf").value = addressalllist;

  }
</script>

<script>
  function shownext3() { 
    form4.style.display = "block";

  }
</script>

<script>
   function reset() { 

    window.location.href ="Address_manual.html";

  }
  
</script>

  <script>
  function nextscreen() { 

    window.location.href ="your-details-email.html";

  }
 </script>

  <script>
  function showsupp() { 
    supinfo.style.display = "block";
    supquest.style.display = "none";
    document.getElementById('supinfofield').focus()
    

  }
</script>

<script>
  function supenter() { 
    var s1 = document.getElementById("supinfofield").value;
    supinfo.style.display = "none";

    document.getElementById("flat1").innerHTML = s1;
    flat1.style.display = "block";

 
     

  }
</script>


</header>

<body onload="dofirst()">
<main id="page-container" role="main">
  <p style= "color:grey" class="form-hint" >
      Stage 3 of 8
    </p>

  <p class="heading-medium">
      The address on your driving licence
    </p> 
<div class="dwp-permission-group column-two-thirds">
     <span class="heading-medium">Dr SAM MORGAN</span>

  <div class="grid-row">

      <div class="column-full"> 
          <dd class="bold-small">122 Burns Crescent EDINBURGH  <span class="postcode">EH1 9GP</span>
      
        </dl>
      </div>    
  </div>
</div>




<!-- ////////////freekey////////-->
<div  class="grid-row " id="freekey">
  <div class="column-full">
    
      <p class="heading-medium" for="Adress">
        Enter your address manually
        
      
      <br>
      <div class="validation-wrapper">
        <Form action="sendaddress_freekey1" method="GET">         

        <label class="form-label" for="Adress">
      Address </label>
      <p><input type="text" class="form-control" id="Address1" name="A1" maxlength="30"></p>
      
      <p><input type="text" class="form-control" id="Address2" name="A2" maxlength="30"></p>
  
      <p><input type="text" class="form-control" id="Address3" name="A3" maxlength="30"></p>
      <label class="form-label" for="Adress">
      Post town </label>
      <p><input type="text" class="form-control" id="City" name="A4" maxlength="30"></p>
      <label class="form-label" for="Adress">
      Postcode </label>
      <p><input type="text" class="form-control" id="PCODE" name="PC" maxlength="8"></p>
    </div>

     <div class="grid-row">
    <div class="column-full">
    

    

    <p><button type="submit" name ="newconf2" id="newconf2" class="button">Confirm </button><a href="javascript:reset();">Reset</a>
    </form>


      

      <ul>
        <li><a href="javascript:history.go(-1);">Back</a></li>
      </ul> 
      <!-- </form>
    </div>
  </div>
  
  </div>


 -->
  </div>

</div>






 
<!--  </form> -->
       
</main>    
</body>
    
 <!--  <div  id="supquest">

      <input name="Supplementaryinformation" type="button" class="button-secondary" value="Add supplementary information" onclick="showsupp(); return false;">



         <span class="form-hint">
          Adds an extra line to the address for a flat number or house name etc.
          
        </span>
  </div> -->    






{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
