{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation_alpha}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header class="page-header">



  

</header>


<main id="page-container" role="main">
<p style= "color:grey" class="form-hint" >
      Stage 8 of 8
    </p>
 
  

   
       
     <div class ="grid-row">     
      <div class="column-half"> 
 
      <div class="success-group"> 
          <p class="finishheading">
          <img id="google1_01"  class="finishtick"  src="../public/images/tick_white.png" width="48" height="48" alt="a tick" /> Thank you
          </p>  
      

        <p class="heading-medium" style="color: white; ">
         Your change of address has been processed
        </p> 

        <p class="heading-small" style="color: white; ">
         If you gave us your email address, a confirmation message has been sent
        </p> 
       

         <p class="heading-small" style="color: white; ">
         If you gave us your mobile phone number, a confirmation text has been sent
        </p> 

         <p class="heading-small" style="color: white; ">
         Please make a note of the application reference number, in case you have a query in the future
        </p> 
        <br>
  

    <p class="bold-small" style="background-color: white; padding: 5px; text-align: center;">
         Application Reference Number: 20151591721175
        </p> 
      </div>
      </div>

  


         
<div class="column-half">
 
<p class="heading-large" style="padding-left: 10px;">

      What's next?
    </p>  


    <img src="../public/images/icon-calendar-2x.png" style="width: 35px; float: left; margin-right: 14px; margin-left: 10px; padding-top: 7px"> <span class="heading-small" style=" padding-left: 70px; margin: -70px;">your driving licence record will be updated within <span style="color: #28a197; font-size: 24px; font-weight: 700;">3</span> days </span> </p>

    <img src="../public/images/icon-calendar-2x.png" style="width: 35px; float: left; margin-right: 14px; margin-left: 10px; padding-top: 10px"> <span class="heading-small" style=" padding-left: 70px; margin: -70px;">a licence will be printed and you should receive it in the post within the next <span style="color: #28a197; font-size: 24px; font-weight: 700;">7</span> days</span> </p>

    <img src="../public/images/icon-important.png" style="float: left; margin-right: 14px;  margin-left: 10px"> <span class="heading-small" style=" padding-left: 70px; margin: -70px;">Remember to cut your current licence in two and return it to: DVLA, Swansea SA99 1ZW</span> </p>

    

    <p class="heading-medium" style="padding-left: 10px;">

      Useful links
    </p>  
  <p style="padding-left: 10px;">
  
  <a href="https://www.gov.uk/view-driving-licence"> View your Driving Licence</a> <br>
  <a href="https://www.gov.uk"> GOV.UK</a>
</p>

</div>
</div>

</main>




{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
