{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header class="page-header">

<script>
function showerrors() { 


var emailV = "{{email}}";




if (emailV == ""  ) {}

else{


validation_message.style.display = "block";
 document.getElementById("emailfieldname").className = "form-title heading-medium validation-summary-field-div";
 document.getElementById("email").className = "validation-summary-input form-control";
  document.getElementById("hint").className = "form-hint validation-summary-field-div";
  document.getElementById("email").value = emailV;


}
}

</script>

</header>

<body onload="showerrors()">

<main id="page-container" role="main">
<p style= "color:grey" class="form-hint" >
      Stage 4 of 8
    </p>

    <h1 class="form-title heading-medium">
      Contact details
    </h1>
    <p> If you'd like a confirmation email of your change of address, tell us your email address here.

 <form id="form1" action="send_address2" method="get" class="form">
   
    <div class="form-group">
       <label class="form-title heading-medium" for="drivernum" id="emailfieldname">
        
        Your email address </label>
        <span class="form-hint" id="hint">
          For example, 'you@mail.co.uk'
           </span>
           <input type="text" class="form-control" id="email"  name="email" autocomplete="off">
        
    </div>
    <div class="grid-row"  >
   <div class="column-full">
<p  id="validation_message" class="heading-validation-message starthidden">Please enter a valid email address</p>
    </div>
    </div>

     
       

    <div class="grid-row">
   <div class="column-full">
   <br>
      <button type="submit" id="sub" class="button" name = "sub" value="{{addressall1}}">
        Continue
    </button>
    
    </form>  
    
      <ul>
    
       
        <li><a href="javascript:history.go(-1);">Back</a></li>
      </ul>
    </div>
    </div>

    
</body>
    
</main>


{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
