{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation_alpha}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header class="page-header">

 
  

<script>
  function populate(data) {
    var dropdown = document.getElementById('addressdropdown');
    for(var i=1; i < dropdown.options.length; i++) {
      dropdown.options[i].value = data[i-1];
      dropdown.options[i].innerHTML = data[i-1];
    }
  }

  function find_postcode() { 
    var swansea = [
      "1 Jack Street, Uplands, Swansea",
      "2 Jack Street, Uplands, Swansea",
      "3 Jack Street, Uplands, Swansea",
      "4 Jack Street, Uplands, Swansea",
      "5 Jack Street, Uplands, Swansea",
      "6 Jack Street, Uplands, Swansea",
      "7 Jack Street, Uplands, Swansea",
      "8 Jack Street, Uplands, Swansea",
      "9 Jack Street, Uplands, Swansea",
      "10 Jack Street, Uplands, Swansea",
      "11 Jack Street, Uplands, Swansea",
      "My address is not here"
    ];

    var cardiff = [
      "1 Taff Street, Splot, Cardiff",
      "2 Taff Street, Splot, Cardiff",
      "3 Taff Street, Splot, Cardiff",
      "4 Taff Street, Splot, Cardiff",
      "5 Taff Street, Splot, Cardiff",
      "6 Taff Street, Splot, Cardiff",
      "7 Taff Street, Splot, Cardiff",
      "8 Taff Street, Splot, Cardiff",
      "9 Taff Street, Splot, Cardiff",
      "10 Taff Street, Splot, Cardiff",
      "My address is not here",
      ""
    ];

    form2.style.display = "block";
    manual.style.display = "none";
    document.getElementById('addressdropdown').focus()

    var postcode = document.getElementById('postcode').value;
    var county = postcode.toUpperCase().charAt(0);
    if(county == "S") {
      populate(swansea);
    } else if(county == "C") {
      populate(cardiff);
    } else {
      // leave as is
    }
  }
</script>

<script>
  function update_address() { 
    var postcodeV = document.getElementById('postcode').value;

    var addressall = document.getElementById('addressdropdown').value;

    if (addressall == "My address is not here"){
        freekey.style.display = "block";

    } else{

    var addressalllist = addressall.split(",");
    form3.style.display = "block";
    freekey.style.display = "none";

      document.getElementById("line1").innerHTML = addressalllist[0];
      document.getElementById("line2").innerHTML = addressalllist[1];
      document.getElementById("line3").innerHTML = addressalllist[2];
      document.getElementById("line4").innerHTML = postcodeV;
    }
    form2.style.display = "none";
    document.getElementById("confbutton").disabled = false; 

  }
</script>

<script>
  function shownext3() { 
    form4.style.display = "block";

  }
</script>

<script>
   function reset() { 

    window.location.href ="Postcodeonly.html";

  }
  
</script>

  <script>
  function nextscreen() { 

    window.location.href ="Confirmation.html";

  }
 </script>

  <script>
  function showsupp() { 
    supinfo.style.display = "block";
    supquest.style.display = "none";
    document.getElementById('supinfofield').focus()
    document.getElementById("confbutton").disabled = true;

  }
</script>

<script>
  function supenter() { 
    var s1 = document.getElementById("supinfofield").value;
    supinfo.style.display = "none";

    document.getElementById("flat1").innerHTML = s1;
    flat1.style.display = "block";

    document.getElementById("confbutton").disabled = false;
    document.getElementById('confbutton').focus();
     

  }
</script>


</header>


<main id="page-container" role="main">

<p class="heading-medium">
      Your address
    </p> 
<div class="dwp-permission-group column-two-thirds">
     <span class="heading-medium">Ms SARAH MEREDITH MORGAN</span>

<div class="grid-row">

        <div class="column-full"> 
          <dd class="bold-small">122 Burns Crescent EDINBURGH  <span class="postcode">EH1 9GP</span>
      

        
      
    </dl>
</div>    
  </div>
</div>


  <div class=" grid-row column-two-thirds">
  <p class="heading-medium">
      Tell us your new address
    </p> 
</div>
  <div class="form-group">
       <label class="form-label" >
        Postcode</label>
        <span class="form-hint">For example, 'SA58ET'</span>
        
           <input type="text" class="form-control"  id="postcode" name="postcode" onKeyDown="if (event.keyCode == 13) find_postcode()">


          <br><br><input name="Findaddress" type="button" class="button-secondary" value="Find address" onclick="find_postcode()">
          
        <div id="manual">
    
          
        </div>
       <!-- </form> -->
   
  





<div class="grid-row"><br> </div>



 <!-- <form id="form2" class="form starthidden"> -->
   
    <div class="form-group starthidden" id="form2">
       <label class="form-label" for="select">
        Select an address</label>
        
           <!-- <input type="drop-down" class="form-control" list=conditions id="drivernumber" name="housenum" > -->
           <select class="form-control searchBox" id="addressdropdown" onchange="update_address()">
  <option value="Select Address..."> Select Address...</option>
  <option value="6 Grace Street, Broadacre, Wolverhampton">6 Grace Street, Broadacre, Wolverhampton</option>
  <option value="7 Grace Street, Broadacre, Wolverhampton">7 Grace Street, Broadacre, Wolverhampton</option>
  <option value="8 Grace Street, Broadacre, Wolverhampton">8 Grace Street, Broadacre, Wolverhampton</option>
  <option value="9 Grace Street, Broadacre, Wolverhampton">9 Grace Street, Broadacre, Wolverhampton</option>
  <option value="10 Grace Street, Broadacre, Wolverhampton">10 Grace Street, Broadacre, Wolverhampton</option>
  <option value="11 Grace Street, Broadacre, Wolverhampton">11 Grace Street, Broadacre, Wolverhampton</option>
  <option value="12 Grace Street, Broadacre, Wolverhampton">12 Grace Street, Broadacre, Wolverhampton</option>
  <option value="Hair by Grace, Grace Street, Broadacre, Wolverhampton">Hair by Grace, Grace Street, Broadacre, Wolverhampton</option>
  <option value="14 Grace Street, Broadacre, Wolverhampton">14 Grace Street, Broadacre, Wolverhampton</option>
  <option value="15 Grace Street, Broadacre, Wolverhampton">15 Grace Street, Broadacre, Wolverhampton</option>
  <option value="Flat 1, 16 Grace Street, Broadacre, Wolverhampton">Flat 1, 16 Grace Street, Broadacre, Wolverhampton</option>
  <option value="My address is not here">My address is not here</option>

</select>
           

 
          
        <!-- </form> -->
      </div>
       

 <div class="grid-row "></div>


<div  class="grid-row starthidden" id="form3">
  <div class="column-full">

<div class="form-label" for="select">
        Your new address</div>
    <div class="validation-wrapper starthidden" id="supinfo">
      <!-- <form id="suppform"> -->
     
     <!--  </form> -->
    </div>

    <div class="lede starthidden" id ="flat1">
      Flat1<br></div>

    <div class="lede">
      <p>
      <span id="line1">14 Grace Street</span><br>
      <span id="line2">Broadacre</span><br>
      <span id="line3">Wolverhampton</span><br>
      <span id="line4">WV1 9EA</span></p>
    </div>

  
  </div>

</div>
<div  class="grid-row starthidden" id="freekey">
  <div class="column-full">
    <form action="Confirmation" method="get" class="form">
      <label class="form-label" for="Adress">
        Enter your address manually
        
      </label>
      <br>
      <div class="validation-wrapper">
         <!-- <label class="form-label" for="Adress">
  Address line 1 </label> -->
      <p><input type="text" class="form-control" id="Address1" maxlength="30"></p>
      <!-- <label class="form-label" for="Adress">
  Address line 2 </label> -->
      <p><input type="text" class="form-control" id="Address2" maxlength="30"></p>
      <!-- <label class="form-label" for="Adress">
  Address line 3 </label> -->
      <p><input type="text" class="form-control" id="Address3" maxlength="30"></p>
      <!-- <label class="form-label" for="Adress">
  Address line 4 </label> -->
      <p><input type="text" class="form-control" id="Address4" maxlength="30"></p>
      <label class="form-label" for="Adress">
  Post town </label>
      <p><input type="text" class="form-control" id="City" maxlength="30"></p>
       <label class="form-label" for="Adress">
  Post code </label>
      <p><input type="text" class="form-control" id="PCODE" maxlength="8"></p>
    </div>

  </div>

</div>



 <div class="grid-row">
    <div class="column-full">
     <!--  <form id="form4" class="form"> -->
      <p><!-- <a href="Confirmation" id="confbuttonlink" class="button disabled " >Confirm</a>  --><input id="confbutton" type="button" class="button"value="Confirm" onclick="nextscreen()" disabled/> <input id="cancbutton" type="button" class="button-secondary"value="Cancel" onclick="reset()" /></P>

      <ul>
        <li><a href="2COA_1">Back</a></li>
      </ul> 
      <!-- </form> -->
    </div>
  </div>
<!--  </form> -->
       
</main>    
    
 <!--  <div  id="supquest">

      <input name="Supplementaryinformation" type="button" class="button-secondary" value="Add supplementary information" onclick="showsupp(); return false;">



         <span class="form-hint">
          Adds an extra line to the address for a flat number or house name etc.
          
        </span>
  </div> -->    






{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
