{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation_alpha}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header class="page-header">



  

<script>
  function shownext() { 
    form2.style.display = "block";

  }
</script>

<script>
  function shownext2() { 
    form3.style.display = "block";

  }
</script>

<script>
  function shownext3() { 
    form4.style.display = "block";

  }
</script>

<script>
  function nextscreen() { 

    window.location.href ="2COA_1_finished.html";

  }
  
  </script>
</header>


<main id="page-container" role="main">

 <p></P>
  

   
       
     <div class ="grid-row">     
      <div class="success-group column-third"> 
 
      
          <p class="finishheading" >
          <img id="google1_01"  class="finishtick" src="../public/images/tick_white.png" width="48" height="48" alt="a tick" /> Thank you
          </p>  
      

        <p class="heading-medium" style="color: white; ">
         Your change of address has been processed
        </p> 

        <p class="heading-small" style="color: white; ">
         If you gave us your email address, a confirmation message has been sent. 
        </p> 
        <br>
<br>
<br>
<br>

    <p class="bold-small" style="background-color: white; padding: 5px">
         Application Reference Number: 20151591721175
        </p> 
      </div>

  


         
<div class="column-two-thirds">
  <br>
<br>
<p class="heading-large" style="padding-left: 10px;">

      What's next?
    </p>  

   <!--   <ul class="list-bullet" style="padding-left: 1em;">
    <li style="text-indent: -2px; padding-left: 18px;">your driving licence record will be updated within <span style="color: #28a197; font-size: 32px; font-weight: 700;">3</span> days 
</li><br>
    <li style="text-indent: -2px; padding-left: 18px;">a licence will be printed and you should receive it in the post within the next <span style="color: #28a197; font-size: 32px; font-weight: 700;">7</span> days</li>

    <br>
</ul> -->
    <img src="../public/images/icon-calendar-2x.png" style="width: 35px; float: left; margin-right: 14px; margin-left: 10px; padding-top: 7px"> <span class="heading-small" style=" padding-left: 70px; margin: -70px;">your driving licence record will be updated within <span style="color: #28a197; font-size: 32px; font-weight: 700;">3</span> days </span> </p>

    <img src="../public/images/icon-calendar-2x.png" style="width: 35px; float: left; margin-right: 14px; margin-left: 10px; padding-top: 10px"> <span class="heading-small" style=" padding-left: 70px; margin: -70px;">a licence will be printed and you should receive it in the post within the next <span style="color: #28a197; font-size: 32px; font-weight: 700;">7</span> days</span> </p>

    <img src="../public/images/icon-important.png" style="float: left; margin-right: 14px;  margin-left: 10px"> <span class="heading-small" style=" padding-left: 70px; margin: -70px;">Remember to cut your current licence in two and return it to:<br> DVLA, Swansea SA99 1ZW</span> </p>

    

    <p class="heading-medium" style="padding-left: 10px;">

      Useful links
    </p>  
  <p style="padding-left: 10px;">
  <a href="#"> Driving before your new licence arrives</a> <br>
  <a href="#"> View your Driving Licence</a> <br>
  <a href="#"> GOV.UK</a>
</p>

</div>
</div>

</main>




{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
