{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

  <script type="text/javascript" src="/public/javascripts/application.js"></script>

  <script type="text/javascript" src="/public/javascripts/postcodes.min.js"></script>

  <script type="text/javascript" src="/public/javascripts/parsley.min.js"></script>
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation_alpha}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}




<script>
   function reset() { 
    var r = confirm("Go back and find a different address?");
if (r == true) {
    window.location.href ="Address_postcode.html";
} else {
    
}

    

  }
  
</script>

  <script>
  function nextscreen() { 

    window.location.href ="your-details-email.html";

  }
 </script>

  




</header>

<body >
<main id="page-container" role="main">
  <p style= "color:grey" class="form-hint" >
      Stage 3 of 7
    </p>

  <p class="heading-medium">
      The address on your driving licence
    </p> 
<div class="dwp-permission-group column-half">
     <span class="heading-small">Dr SAM MORGAN</span>

  <div class="grid-row">

      <div class="column-full"> 
          <dd class="font-small">122 Burns Crescent 
            <br>EDINBURGH  
            <br><span class="postcode">EH1 9GP</span>
      
        </dl>
      </div>    
  </div>
</div>


       



<div  class="grid-row " id="showaddress">
  <div class="column-full">

<div class="heading-medium" for="select">
        Your new address</div>
    <div class="validation-wrapper starthidden" id="supinfo">
      <!-- <form id="suppform"> -->
     
     <!--  </form> -->
    </div>

    <div class="lede starthidden" id ="flat1">
      Flat1<br></div>

    <div class="lede" name="bingo">
      <p>
      <div id="line1" style="padding:0; margin:0">{{address1}}</div>
      <div id="line2" style="padding:0; margin:0">{{address2}}</div>
      <div id="line3"  style="padding:0; margin:0">{{address3}}</div>
      <div id="line4" style="padding:0; margin:0">{{address4}}</div>
      <div id="line5" style="padding:0; margin:0">{{address5}}</div></p>

    </div>
 <div class="grid-row">
    <div class="column-full">
     </form>
       <form action="send_address" method="GET">

                <p><button type="submit" name ="newconf" id="newconf" class="button" value="{{addressall1}}">Continue </button><!-- </button><a href="javascript:reset();">Reset</a> -->
</form>
       



       </P>

      <ul>
        <li><a href="javascript:history.go(-1);">Back</a></li>
      </ul> 
  
    </div>
  </div>
  
  </div>

</div>


       
</main>    
</body>
    







{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
